.idea
build
.gradle
.kotlin
homework
/composeApp/include/common/**/LICENSE*
/composeApp/include/common/**/NOTICE*
/composeApp/include/common/**/README*
/composeApp/debug
*.log
*.lock
/gradle/wrapper/gradle-*-bin.zip
